body { 
background-color: #1b1f21;
/*rgb(27, 31, 33)*/
}

#page {
display: flex;
width: 100%;
}

#content
{
width: 300px;
height: 400px;
position: relative;
top: 150px;
left: 27%;
}

#title {
position: absolute;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
font-size: 15px;
color: #ffffff;
text-align: center; 
}

#title h1 {
line-height: 10px;
}

#title p1
{
  color: grey;
  line-height: 0px;
}

#title p
{
  color: grey;
  line-height: 0px;
}

#social {
  text-align: center;
  bottom: 0;
  left: 17%;
  position: absolute;
}

.fa {
  padding: 3px;
  width: 20px;
  text-decoration: none;
  margin: 5px 2px;
} 

#project .fa-search {
  position: absolute;
  color: #777777;
  font-size: 15px;
}

#social .fa-linkedin {
  position: relative;
  bottom: 1.5px;
  border-radius: 20%;
  font-size: 19px;
  background: #007bb5;
  color: white;
}

#social .fa-github {
  font-size: 25px;
  color: #d6b1d2;
}

#social .fa-envelope-o {
  font-size: 23px;
  color: white;
}

#social .fa-file-text-o {
  font-size: 22px;
  color: white;
  padding-right: 5px;
}

.envelope-hover:hover {
  animation: fa-spin 1.5s;
}

.github-hover:hover {
    transform:scale(1.5);
}

.linkedin-hover:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
}

.resume-hover:hover {
  animation: fa-spin 1.5s;
}

@-webkit-keyframes fa-spin {
  0% 
  {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  100%
  {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}
@keyframes fa-spin{
  0%
  {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  100%
  {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} 

#portfolio {
top: 2vh;
position: relative;
left: 35%;
width: 300px;
height: 600px;
}


#project {
top:25%;
position: absolute;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
color: #ffffff;
text-align: left; 
}

.project-content  {
font-size: 15px; 
cursor: pointer;
color: grey;
}

.project-content:hover {
color:#d1d1d1;
}

#interest {
top:65%;
position: absolute;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
color: #ffffff;
text-align: left; 
}


.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: rgba(63, 63, 63, 0.9);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav .closebtn {
position: absolute;
top: 0;
font-size: 36px;
}

#myInput {
  width: 40%;
  font-size: 14px;
  padding: 6px 12px 4px 25px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #8e8e8e;
}

input#myInput, textarea{
  color: #8e8e8e;
}

#MLSidenav {
font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#MLSidenav img{
max-width: 100%;
height: auto;
}

#MLSidenav h1 {
color: #d1d1d1;
text-align: center;
}

#MLSidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
}

#MLSidenav .report {
font-size: 15px;
color: #d1d1d1;
padding-left: 10%;
display: inline;
text-decoration: underline;
margin: 0px;
}


#MLSidenav a.report:visited {
  color:#92bbfc;
}

.myRIO {
display: block;
margin-left: auto;
margin-right: auto;
}

#TASidenav {
text-align:center;
}

#TASidenav img {
max-width: 100%;
height: auto;
}

#TASidenav h1 {
color: #d1d1d1;
text-align: center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#TASidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#TASidenav .mfLink {
font-size: 12px;
color: #d1d1d1;
display: inline;
text-decoration: underline;
float: right;
}

.android {
display:inline-block;
margin-left: auto;
margin-right: auto;
}

.TAwebsite {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
}

#TASidenav .note {
font-size: 12px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#radioSidenav img {
max-width: 100%;
height: auto;
}

#radioSidenav h1 {
color: #d1d1d1;
text-align: center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#radioSidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

.radioPic {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
}

#radioSidenav .report {
font-size: 15px;
color: #d1d1d1;
display: inline;
text-decoration: underline;
}


#radioSidenav a.report:visited {
  color:#92bbfc;
}

@media screen and (max-width: 480px) {
  #page {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  #content {
    order: 1;
    left: 0;
    top: 0;
    margin:0 auto;
  }

  #portfolio {
    order: 2;
    left: 0;
    margin:0 auto;
  }

  #project {
    top: 0;
    text-align: center;

  }

  #interest {
    top: 40%;
    left: 80px;
    text-align: center;
  }

  #title {
    top:0;
  }

  #myInput {
    width: 20%;
  }
}