html,body {
  overflow: hidden;
  width:100%;
  height:100%;
  position:absolute;
  background: linear-gradient(155deg,#669aba,#1b1f21);
  text-shadow: 0px 1px 2px rgba(0,0,0,0.4);
}

.container  {
  width:100%;
  height:100%;
  position:absolute;
}
#blurCanvasTop{
  left:0%;
  top:0%;
  position:absolute;
}
#blurCanvasBottom{
  left:50%;
  top:0;
  position:absolute;
}

.blur {
  width:100%;
  position:absolute;
  overflow:hidden;
}
.blurTop{
  left:40%;
  top:-110%;
  transform:rotate(20deg);
  transform-origin: 0 100%;
}
.blurBottom{
  left:-60%;
  top:100%;
  transform:rotate(20deg);
  transform-origin: 100% 0%;
}


#page {
display: flex;
width: 100%;
}

#content
{
width: 300px;
height: 400px;
position: relative;
top: 150px;
left: 27%;
}

#title {
position: absolute;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
font-size: 15px;
color: #ffffff;
text-align: center; 
}

#title h1 {
line-height: 10px;
}

#title p1
{
  color: #bababa;
  line-height: 0px;
}

#title p
{
  color: #bababa;
  line-height: 0px;
}

#social {
  text-align: center;
  bottom: 0;
  left: 17%;
  position: absolute;
}

.fa {
  padding: 3px;
  width: 20px;
  text-decoration: none;
  margin: 5px 2px;
} 

#project .fa-search {
  position: absolute;
  color: #bababa;
  font-size: 15px;
}

#social .fa-linkedin {
  position: relative;
  bottom: 1.5px;
  border-radius: 20%;
  font-size: 19px;
  background: #007bb5;
  color: white;
}

#social .fa-github {
  font-size: 25px;
  color: #d6b1d2;
}

#social .fa-envelope-o {
  font-size: 23px;
  color: white;
}

#social .fa-file-text-o {
  font-size: 22px;
  color: white;
  padding-right: 5px;
}

.envelope-hover:hover {
  animation: fa-spin 1.5s;
}

.github-hover:hover {
    transform:scale(1.5);
}

.linkedin-hover:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
}

.resume-hover:hover {
  animation: fa-spin 1.5s;
}

@-webkit-keyframes fa-spin {
  0% 
  {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  100%
  {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}
@keyframes fa-spin{
  0%
  {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg)
  }
  100%
  {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg)
  }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
} 

#portfolio {
top: 2vh;
position: relative;
left: 35%;
width: 300px;
height: 500px;
}


#project {
top:25%;
position: absolute;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
color: #ffffff;
text-align: left; 
}

.project-content  {
font-size: 15px; 
cursor: pointer;
color: #bababa;
}

.project-content:hover {
color:#d1d1d1;
}

#interest {
top:75%;
position: absolute;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
color: #ffffff;
text-align: left; 
}

.interestList {
font-size: 15px; 
cursor: pointer;
color: #bababa;  
}


.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
right: 0;
background-color: rgba(63, 63, 63, 0.6);
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}

.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidenav .closebtn {
position: absolute;
top: 0;
font-size: 36px;
}

#myInput {
  width: 40%;
  font-size: 14px;
  padding: 6px 12px 4px 25px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #bababa;
}

#myInput::placeholder {
  color: #bababa;
}

input#myInput, textarea{
  color: #bababa;
}

#MLSidenav {
font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#MLSidenav img{
max-width: 100%;
height: auto;
}

#MLSidenav h1 {
color: white;
text-align: center;
}

#MLSidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
}

#MLSidenav .report {
font-size: 15px;
color: #d1d1d1;
padding-left: 10%;
display: inline;
text-decoration: underline;
margin: 0px;
}


#MLSidenav a.report:visited {
  color:#92bbfc;
}

.myRIO {
  width: 300px;
  height: 300px;
display: block;
margin-left: auto;
margin-right: auto;
}

.myRIOOverview {
  width: 500px;
  height: 200px;
display: block;
margin-left: auto;
margin-right: auto;

}

#TASidenav {
text-align:center;
}

#TASidenav img {
max-width: 100%;
height: auto;
}

#TASidenav h1 {
color: white;
text-align: center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#TASidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#TASidenav .mfLink {
font-size: 12px;
color: #d1d1d1;
display: inline;
text-decoration: underline;
float: right;
}

.android {
display:inline-block;
margin-left: auto;
margin-right: auto;
}

.TAwebsite {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
}

#TASidenav .note {
font-size: 12px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#robotSidenav {
text-align:center;
}

#robotSidenav video{
display:block;
margin-left: auto;
margin-right: auto;
max-width: 100%;
height: auto;
}

#robotSidenav h1 {
color: white;
text-align: center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#robotSidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#radioSidenav img {
max-width: 100%;
height: auto;
}

#radioSidenav h1 {
color: white;
text-align: center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#radioSidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

.radioPic {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 2em;
}

#radioSidenav .report {
font-size: 15px;
color: #d1d1d1;
display: inline;
text-decoration: underline;
}


#radioSidenav a.report:visited {
  color:#92bbfc;
}

#enigmaSidenav img {
max-width: 100%;
height: auto;
display:block;
margin-left: auto;
margin-right: auto;
}

.enigma1 {
width: 480px;
height: 270px;
}

#enigmaSidenav h1 {
color: white;
text-align: center;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#enigmaSidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#enigmaSidenav .enigmaLink {
font-size: 15px;
color: #d1d1d1;
display: inline;
text-decoration: underline;
}


#enigmaSidenav a.enigmaLink:visited {
  color:#92bbfc;
}

#enigmaSidenav .FPGA {
  text-align: center;
}

#enigmaSidenav .report {
font-size: 15px;
color: #d1d1d1;
display: inline;
text-decoration: underline;
}

#enigmaSidenav a.report:visited {
  color:#92bbfc;
}

#interestSidenav .music{
color: white;
text-align: left;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
padding-left: 10%;
}


#interestSidenav h1 a{
color: white;
text-align: left;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
padding-left: 10%;
text-decoration: underline;
}

#interestSidenav a.dotaTitle:visited {
  color:#92bbfc;
}

#interestSidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#interestSidenav p a{
font-size: 15px;
color: #d1d1d1;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
text-decoration: underline;
display:inline;
}

#interestSidenav img {
max-width: 100%;
height: auto;
display:inline-block;
margin-left: auto;
margin-right: auto;
padding-left: 10%;
}

#interestSidenav video {
max-width: 100%;
height: auto;
display:block;
margin-left: auto;
margin-right: auto;
}

#certifSidenav h1{
color: white;
text-align: left;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
padding-left: 10%;
}

#certifSidenav p {
font-size: 15px;
color: #d1d1d1;
text-align: justify;
padding-left: 10%;
padding-right: 10%;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
}

#certifSidenav p a{
font-size: 15px;
color: #d1d1d1;
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-weight: 100;
text-decoration: underline;
display:inline;
}

#certifSidenav a#french:visited {
  color:#92bbfc;
}



/*-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------

-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
-----------------------------  Browser ---------------------------------
*/



@media screen and (max-width: 720px) {

html,body {

overflow: auto;

}

  #page {
    max-width: 100%;
    height: auto;
    flex-direction: column;
  }

  #content {
    order: 1;
    left: 0;
    top: 0;
    margin:0 auto;
  }

  #portfolio {
    order: 2;
    left: 0;
    margin:0 auto;
  }

  #project {
    top: 0;
    text-align: center;

  }

  #interest {
    top: 50%;
    left: 70px;
    text-align: center;
  }

  #title {
    top:0;
  }

  #myInput {
    width: 20%;
  }
}


/* -----------------------------  Mobile ---------------------------------
-----------------------------  Mobile ---------------------------------
-----------------------------  Mobile ---------------------------------
-----------------------------  Mobile ---------------------------------
-----------------------------  Mobile ---------------------------------
-----------------------------  Mobile ---------------------------------
-----------------------------  Mobile ---------------------------------

-----------------------------  Mobile ---------------------------------
-----------------------------  Mobile ---------------------------------
-----------------------------  Mobile ---------------------------------
*/




@media only screen and (max-device-width : 640px) {

html,body {
  width:100%;
  height:100%;
overflow: auto;
}

.sidenav {
background-color: rgba(63, 63, 63, 0.9);
}

  #page {
    max-width: 30%;
    height: auto;
    flex-direction: column;
  }

  #content {
    order: 1;
    left: 0;
    top: 0;
    margin:0 auto;
    width: 700px;
   height: 1050px;
   position: relative;
   left: 55%;
  }

  #social {
    left: 15%;
  }

  #title {
    position: absolute;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 45px;
    color: #ffffff;
    text-align: center; 
  }

  #title h1 {
   line-height: 30px;
  }

  #portfolio {
    order: 2;
    left: 0;
    margin:0 auto;
    width: 900px;
    height: 1200px;
    font-size: 45px;
  }

  #project {
    left: 10%;
    top: 0;
    text-align: center;

  }

  .project-content {
    font-size: 45px;
  }

  #interest {
    top: 55%;
    left: 35%;
    text-align: center;
  }

  #title {
    top:0;
  }

  #title img {
    width: 600px;
    height: 600px;
  }

  #myInput {
    width: 20%;
  }

  .fa {
  padding: 9px;
  width: 60px;
  text-decoration: none;
  margin: 15px 6px;
} 

#project .fa-search {
  position: absolute;
  color: #777777;
  font-size: 45px;
}

#social .fa-linkedin {
  position: relative;
  bottom: 4.5px;
  border-radius: 20%;
  font-size: 57px;
  background: #007bb5;
  color: white;
}

#social .fa-github {
  font-size: 75px;
  color: #d6b1d2;
}

#social .fa-envelope-o {
  font-size: 69px;
  color: white;
}

#social .fa-file-text-o {
  font-size: 66px;
  color: white;
  padding-right: 15px;
}

#myInput {
  width: 40%;
  font-size: 40px;
  padding: 18px 36px 12px 75px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid #8e8e8e;
}

#MLSidenav h1 {
font-size: 90px;
}

#MLSidenav p {
font-size: 45px;
}

#MLSidenav .report {
font-size: 45px;
}

#TASidenav .mfLink {
  font-size: 36px;
}

#TASidenav .note {
font-size: 36px;
}

#TASidenav h1 {
font-size: 90px;
}

#TASidenav p {
font-size: 45px;
}

#TASidenav h1 {
font-size: 90px;
}

#robotSidenav p {
font-size: 45px;
}

#robotSidenav h1 {
font-size: 90px;
}

#radioSidenav p {
font-size: 45px;
}

#radioSidenav .report {
font-size: 45px;
}

#radioSidenav img {
  width: 856px;
  height: 642px;
}

.sidenav .closebtn {
  font-size: 108px;
}

.myRIO {
  height: 600px;
  width: 600px;
}

.myRIOOverview {
display: block;
margin-left: auto;
margin-right: auto;
width: 800px;
hyphens: 350px;
}

#enigmaSidenav h1 {
font-size: 90px;
}

#enigmaSidenav p {
font-size: 45px;

}

#enigmaSidenav .enigmaLink {
font-size: 45px;
}

#enigmaSidenav .report {
font-size: 45px;
}

.enigma1 {
width: 960px;
height: 540px;
}

.enigmaFPGA{
width: 794px;
height: 530px;
}

.interestList {
font-size: 45px; 

}

#interestSidenav h1 {
font-size: 90px;
}

#interestSidenav p {
font-size: 45px;

}

#interestSidenav .dotaTitle{
font-size: 45px;
}

#interestSidenav p a{
font-size: 45px;
}

#certifSidenav h1{
font-size: 90px;
}

#certifSidenav p {
font-size: 45px;
}

#certifSidenav p a{
font-size: 45px;

}

}